<div class=" content" [formGroup]="userform">

  <div class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" title">Create Profile</h4>
        </div>
        <div class=" card-body">

          <div class=" row">
            <div class=" col-md-5 pr-md-1">
              <div class=" form-group">
                <label> Mã WiFi</label> <label style="color: #ec250d;"> *</label>
                <input class=" form-control" placeholder="Mã WiFi" type="text" formControlName="mawifi" />
              </div>
            </div>
            <div class=" col-md-3 px-md-1">
              <div class=" form-group">
                <label> SDT SIM </label> <label style="color: #ec250d;"> *</label>
                <input class=" form-control" placeholder="SDT SIM" type="text" formControlName="sdtsim" />
              </div>
            </div>
            <div class=" col-md-3 px-md-1">
              <div class=" form-group">
                <label> Mã Sim</label> <label style="color: #ec250d;"> *</label>
                <input class=" form-control" placeholder="Mã Sim" type="text" formControlName="masim" />
              </div>
            </div>

          </div>
          <div class=" row">
            <div class=" col-md-6 pr-md-1">
              <div class=" form-group">
                <label> Họ Tên </label> <label style="color: #ec250d;"> *</label>
                <input class=" form-control" placeholder="Họ Tên" type="text" formControlName="hoten" />
              </div>
            </div>
            <div class=" col-md-6 pl-md-1">
              <div class=" form-group">
                <label> Facebook </label>
                <input class=" form-control" placeholder="Facebook" type="email" formControlName="facebook" />
              </div>
            </div>
          </div>
          <div class=" row">
            <div class=" col-md-6 pr-md-1">
              <div class=" form-group">
                <label> Ngày Thuê </label>
                <div>
                  <p-calendar formControlName="ngaythue" [showIcon]="true" dateFormat="dd.mm.yy">
                  </p-calendar>
                </div>
              </div>
            </div>
            <div class=" col-md-6 pl-md-1">
              <div class=" form-group">
                <label>Ngày Trả</label>
                <div>
                  <p-calendar formControlName="ngaytra" [showIcon]="true" dateFormat="dd.mm.yy"></p-calendar>
                </div>
              </div>
            </div>
          </div>
          <div class=" row">
            <div class=" col-md-12">
              <div class=" form-group">
                <label>Địa Chỉ </label>
                <input class=" form-control" placeholder="Địa Chỉ" type="text" formControlName="diachi" />
              </div>
            </div>
          </div>
          <div class=" row">
            <div class=" col-md-4 pr-md-1">
              <div class=" form-group">
                <label> Giá Cước </label>
                <input class=" form-control" placeholder="Giá Cước" type="text" formControlName="giacuoc" />
              </div>
            </div>

            <div class=" col-md-4 pl-md-1">
              <div class=" form-group">
                <label>Trạng Thái</label>
                <div class="slider">
                  <p-inputSwitch formControlName="trangthai"  [(ngModel)]="checked" (click)="onClick($event)"></p-inputSwitch>
                </div>
              </div>
            </div>
          </div>
          <div class=" row">
            <div class=" col-md-12">
              <div class=" form-group">
                <label> Thanh Toán</label>
                <table class="table_monthly">

                  <thead class=" text-primary" style="border-bottom:1px solid #344675 ;">

                    <th *ngFor="let column of cols1" style="color: #ec250d">
                      {{column}}

                    </th>

                  </thead>
                  <tbody>
                    <tr [formGroup]="thanhtoanform">
                      <td *ngFor="let column of cols1">
                        <input type="checkbox" class="form-check-input-monthly" style="width: 22px !important;height: 22px !important; margin-top: 4px;" formControlName="thanhtoan{{column}}">
                      </td>

                    </tr>

                  </tbody>
                </table>
<br/>
                <table class="table_monthly">

                  <thead class=" text-primary" style="border-bottom:1px solid #344675 ;">

                    <th *ngFor="let column of cols2" style="color: #ec250d">
                      {{column}}

                    </th>

                  </thead>
                  <tbody>
                    <tr [formGroup]="thanhtoanform">
                      <td *ngFor="let column of cols2">
                        <input type="checkbox" class="form-check-input-monthly" style="width: 22px !important;height: 22px !important; margin-top: 4px;" formControlName="thanhtoan{{column}}">
                      </td>

                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class=" row">
            <div class=" col-md-12">
              <div class=" form-group">
                <label> Ghi Chú </label>
                <textarea class=" form-control" cols="80" placeholder="Ghi Chú" rows="4" formControlName="ghichu">

</textarea>
              </div>
            </div>
          </div>

        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" type="submit" (click)="submit()">Save</button>
        </div>
      </div>
    </div>
    <div class=" col-md-4">
      <div class=" card card-user">
        <div class=" card-body">
          <p class=" card-text"></p>
          <div class=" author">
            <div class=" block block-one"></div>
            <div class=" block block-two"></div>


            <a href="javascript:void(0)">
              <img />

              <h4 class=" title">Họ Tên: {{hoten}}</h4>
            </a>

          </div>
          <div class=" card-description">
            Ghi Chú: {{ghichu}}
          </div>
        </div>
        <div class=" card-footer">
          <div class=" button-container">
            <button class=" btn btn-icon btn-round btn-facebook">
              <a class=" fab fa-facebook" href="{{facebook}}"> </a>
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>