<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Table</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <p-table  #tt [columns]="cols" [value]="data" [paginator]="true" [rows]="8" [tableStyle]="{'table-layout':'auto'}" >
                <!-- <ng-template pTemplate="caption">
                    <div style="text-align: left">  
                        <input  type="text" pInputText  placeholder="Global Filter" (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:40%">
                          
                        <i class="fa fa-search" style="margin:4px 4px 4px 4px"></i>
                    </div>
                </ng-template> -->
              <ng-template pTemplate="header" let-columns class=" text-primary">
                  <tr >
                      <th *ngFor="let col of columns" [ngStyle]="{'width': col.width}" [pSortableColumn]="col.field">
                          {{col.header}}
                        
                          <ng-container *ngIf="[col.field]=='mawifi'">
                            <p-sortIcon [field]="col.field" ></p-sortIcon>
                          </ng-container>
                      </th>
                      <th></th>
                  </tr>
                  <!-- <tr >
                    <th *ngFor="let col of columns" [ngStyle]="{'width': col.width}" [ngSwitch]="col.field">
                      <input *ngSwitchCase="'mawifi'" pInputText type="text" (input)="tt.filter($event.target.value, col.field, 'contains')">
                     
               
                    </th>
                    <th></th>
                </tr> -->
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns" >
                  <tr>
                      <td *ngFor="let col of columns">
                         
                        
                        <ng-container *ngIf="[col.field]!='facebook' ">
                            {{rowData[col.field]}}
                        </ng-container>

                        <ng-container *ngIf="[col.field]=='facebook'">
                          <a class=" fab fa-facebook" href="{{rowData[col.field]}}" target="_blank" style="font-size:20px;text-align: center;"> </a>
                          
                        </ng-container>
                      </td>
                      <td>
                          <a (click)="selectNetWithButton(rowData)" routerLink="/user" [state]="(rowData)"><i class="fa fa-edit" style="font-size:20px;text-align: center;"></i></a>
                      </td>
                     
                  </tr>
              </ng-template>
          </p-table>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
